/* Seletor universal */
* {
  margin: 0;
}

html,
body {
  /* --nome é assim q se declara variável e lá em container tem a chamada diferente dele
  CTRL+C  background: hsla(240, 9%, 89%, 1);   tira a palavra background e o ,1  
  HSLA >  H = cor  qdo desliza p cima e baixo a última barra vertical a direita, 
          S = saturation   qdo desliza p direita e esq o cursor no quadro,
          L = lightness   qdo desliza p cima e baixo o cursor no quadro e 
          A = transparência  qdo desliza p cima e baixo a 1a barra vertical a direita,  
          */

  --grey: hsla(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; /* C smoothing a fonte fica uma pouco mais suave*/

  position: relative;
}

body {
  display: grid;
  place-items: center;
  background: #121214;
}

main {
  grid-column: 1/5;
}

#badge {
  display: flex;
  justify-content: center;
}
#cord {
  height: 15%;
  width: 4rem;
  background: linear-gradient(161.24deg, #ff1f9c -15.25%, #801eff 111.89%);
  position: absolute;
  z-index: 10;
}
#hole {
  height: 0.5rem;
  width: 5rem;
  background: rgba(0, 0, 0, 1);
  position: absolute;
  top: 6.6rem;
  z-index: 5;
}

.container {
  text-align: center;
  /* é assim q chama uma variável*/
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 2rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1rem;
  color: rgb(243, 230, 230);
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

#custom {
  grid-column: 5;
  padding-right: 3rem;
}

#bgCustom {
  display: inline-flex;
}

button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 50%;
}

button:nth-child(1) {
  background: linear-gradient(90deg, #f69d0f, #fff201);
}
button:nth-child(2) {
  background: linear-gradient(90deg, #616161, #b4b4b4);
}
button:nth-child(3) {
  background: linear-gradient(90deg, #a90ff6, hsl(307, 93%, 73%));
}

/* estilos versão mobile */
@media screen and (max-width: 767px) {
  body {
    background: url(images/bg-mobile.svg) no-repeat 50% 34% / cover;
  }

  main {
    grid-column: 1;
}

  #cord {
    display: none;
  }

  #hole {
    display: none;
  }

  main {
    height: 100vh;
  }

  .container {
    width: 80vw;
    height: 80vh;
  }

  .avatar {
    margin-top: 8rem;
  }
  #custom {
  grid-column: 1;
}
}

/* estilos versão tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    background: url(images/bg-mobile.svg) no-repeat 50% 33% / cover;
    width: 40vw;
    height: 75vh;
    margin: 3rem 0;
    padding: 4rem 2rem 0rem 2rem;
  }
}

/* estilos versão desktop */
@media screen and (min-width: 1024px) {
  .container {
    background: url(images/bg-mobile.svg) no-repeat 50% 33% / cover;
    width: 30vw;
    height: 75vh;
    margin: 3rem 0;
    padding: 4rem 3rem 0rem 3rem;
  }
}
